@import 'tailwindcss';

:root {
  --bg: #ffffff;
  --bg-subtle: #f9fafb;
  --text: #1f2937;
  --text-muted: #6b7280;
}

.dark {
  --bg: #1f2937;
  --bg-subtle: #374151;
  --text: #f9fafb;
  --text-muted: #d1d5db;
}
