@import 'tailwindcss';


:root {
  --bg: #cbd5e1;              /* slate-300 */
  --bg-subtle: #e2e8f0;       /* slate-200 */
  --text: #0f172a;            /* slate-900 */
  --text-muted: #1d4ed8;      /* blue-700 */
}

.dark {
  --bg: #1f2937;
  --bg-subtle: #374151;
  --text: #f9fafb;
  --text-muted: #d1d5db;
}
